{% extends "base.html" %}

{% block title %} Добавление записи {% endblock %}

{% block content %}

<form method="post" class="post-add-form" action="" novalidate enctype="multipart/form-data">
    <h1 class="h2 mb-3 text-center">Создание записи</h1>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
        {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.content.label }}
        {{ form.content(class="form-control", rows="5") }}
        {% for error in form.content.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="input-group mb-3">
        {{ form.img.label }}
        {{ form.img(class="form-control-file", id="inputGroupFile02") }}
        {% for error in form.img.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="input-group mb-3">
        {{ form.video.label }}
        {{ form.video(class="form-control-file", id="inputGroupFile02") }}
        {% for error in form.video.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {{ form.submit(type="submit", class="btn btn-success btn-lg btn-block") }}
</form>

{% endblock %}





